<div ng-if="!roomInfo">loading...</div>

<div ng-if="roomInfo">
    <div class="row text-center">
        <div class="col-xs-12">
            <h1>{{roomInfo.name}}</h1>
            <p>Number of participants: {{roomInfo.participants}}</p>

            <div id="marks-status">
                    <span ng-if="marks.length>0">
                        <span ng-repeat="mark in marks track by $index" aria-hidden="true">
                            <span class="text-danger glyphicon glyphicon-thumbs-down"> </span>

                        </span>
                    </span>
                    <span ng-if="marks.length==0">
                        <span class="text-success glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
                    </span>

            </div>
        </div>
    </div>
    <div class="row" ng-if="!projectorMode">
        <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
            <div class="col-sm-6">
                <a href ng-click="setHappy(true)" class="btn btn-success btn-lg btn-block btn-vote" ng-class="{disabled: voterStatus.happy}">
                    <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
                </a>
            </div>
            <div class="col-sm-6">
                <a href ng-click="setHappy(false)" class="btn btn-danger btn-lg btn-block btn-vote" ng-class="{disabled: !voterStatus.happy}">
                    <span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span>
                </a>
            </div>
        </div>
    </div>
    <div class="row text-center" ng-if="!projectorMode" style="margin-top: 3em">
        <div class="btn-group">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                More actions <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li><a ui-sref="room-detail({roomId: roomId, 'projector-mode': 'yes'})" target="_blank">Open room in projector mode</a></li>
                <li ng-if="voterStatus.owner"><a href ng-click="resetHappy()">(Owner) Reset happy status</a></li>
            </ul>
        </div>
    </div>


</div>