[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important; }

.btn-vote span {
    font-size: 50pt;
    margin:0px;
}

#marks-status {
font-size: 100pt;
}